.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f9;
  }
  .header-text {
    text-align: center;
  }
  
  .username {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .score-text {
    font-size: 1.2rem;
    color: #555;
  }
  